@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #020015;
  background-image: url("/images/bg2.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

@font-face {
  font-family: "Treasuremap";
  src: url("../public/fonts/Treasuremap.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../public/fonts/EBGaramond.ttf");
  font-weight: normal;
  font-style: normal;
}

.shimmer {
  text-align: center;
  color: rgb(65, 28, 14, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#411c0e), to(#411c0e), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#411c0e), to(#411c0e), color-stop(0.1, #fff));
  background-size: 125px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 5s infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgba(65, 28, 14, 0.8);
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }
  50% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

.button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  color: #7E5936;
  border: 2px solid #7E5936;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  content: "";
  background-color: #ffefcd;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button {
    padding: 13px 50px 13px;
  }
}