@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #020015;
  background-image: url("/images/bg2.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

@font-face {
  font-family: "Treasuremap";
  src: url("../public/fonts/Treasuremap.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../public/fonts/EBGaramond.ttf");
  font-weight: normal;
  font-style: normal;
}

.shimmer {
  text-align: center;
  color: rgb(65, 28, 14, 0.1);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#411c0e),
    to(#411c0e),
    color-stop(0.5, #fff)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#411c0e),
    to(#411c0e),
    color-stop(0.1, #fff)
  );
  background-size: 125px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 5s infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgba(65, 28, 14, 0.8);
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  50% {
    background-position: top right;
  }

  100% {
    background-position: top left;
  }
}


.shimmers {
  color: rgb(65, 28, 14, 0.1);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#411c0e),
    to(#411c0e),
    color-stop(0.5, #fff)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#411c0e),
    to(#411c0e),
    color-stop(0.1, #fff)
  );
  background-size: 125px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 5s infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgba(65, 28, 14, 0.8);
}


.shimmer1 {
  text-align: center;
  color: rgb(65, 28, 14, 0.1);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e87f59),
    to(#ad2e00),
    color-stop(0.5, #fff)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#e87f59),
    to(#ad2e00),
    color-stop(0.1, #fff)
  );
  background-size: 125px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer1 5s infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #e87f59;
}

@keyframes shimmer1 {
  0% {
    background-position: top left;
  }

  50% {
    background-position: top right;
  }

  100% {
    background-position: top left;
  }
}

.clubitem {
  animation: dropin 0.35s;
}

@keyframes dropin {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  color: #7e5936;
  border: 2px solid #7e5936;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  content: "";
  background-color: #ffefcd;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button {
    padding: 13px 50px 13px;
  }
}

.history {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 900px;
  position: relative;
}

.content-title {
  font-weight: normal;
  font-size: 45px;
  margin-top: -30px;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
}

.btnt {
  background-color: #002131;
  border: 1px solid white;
  padding: 10px;
  color: white;
  margin-bottom: 15px;
}

.content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  font-weight: normal;
  line-height: 25px;
}

.history:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}

@media only screen and (max-width: 767px) {
  .history:before {
    left: 40px;
  }
}

.item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: 70%;
  position: relative;
  transform: translateY(-80px);
  margin-top: 30px;
}

.item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}

.item:nth-child(even) {
  align-self: flex-end;
}

.item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}

.item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}

.item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}

.item--active .content-title {
  margin: 10px 0 20px 0;
}

@media only screen and (max-width: 767px) {
  .item {
    align-self: baseline !important;
    width: 100%;
  }

  .item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }

  .item:last-child {
    padding-bottom: 40px;
  }
}

.history__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.class-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}

.class-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.header__title {
  color: #fff;
  font-size: 46px;
  font-weight: normal;
  margin: 0;
}

.header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.slider {
  width: 90vw;
  height: 90vh;
}

.slider .img {
  object-fit: cover;
  object-position: center center;
  width: 90vw;
  height: 90vh;
  display: block;
}

.image {
  width: 90vw;
  height: 90vh;
}

.btn-color {
  background: linear-gradient(to right, #ae8141, #1f2937);
}

.anim_li {
  animation: slide-left 1s;
  opacity: 1;
}

.anim {
  width: 100%;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.neon-button {
  font-size: 1.5rem;
  color: #ffefcd;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: #ffefcd 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 #ffefcd, 0 0 0.5em 0 #ffefcd;
  position: relative;
  /*   transition: background-color 100ms linear; */
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #ffefcd;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button:hover,
.neon-button:focus {
  /*   background: var(--clr-neon); */
  color: #ffefcd;
  text-shadow: none;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 2em 0.5em #ffefcd;
  background-color: #ffefcd;
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms linear;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.pin-text {
  font-weight: bolder !important;
}

@media (max-width: 900px) {
  .map {
    position: relative;
    display: inline-block;
  }

  .map img {
    max-width: 100%;
    display: block;
    border-radius: 5%;
  }

  .box0 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  #pin-1 {
    top: 29%;
    left: 10%;
  }

  .box0 > .pin-text {
    display: block;
  }

  #pin-2 {
    top: 49%;
    left: 37%;
  }

  .box1 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box1 > .pin-text {
    display: block;
  }

  #pin-3 {
    top: 30%;
    left: 61%;
  }

  .box2 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box2 > .pin-text {
    display: block;
    color: white !important;
  }

  #pin-4 {
    top: 5%;
    left: 40%;
  }

  .box3 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box3 > .pin-text {
    display: block;
  }

  #pin-5 {
    top: 20%;
    left: 55%;
  }

  .box4 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box4 > .pin-text {
    display: block;
  }

  #pin-6 {
    top: 47%;
    left: 73%;
  }

  .box5 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box5 > .pin-text {
    display: block;
  }

  #pin-7 {
    top: 68%;
    left: 10%;
  }

  .box6 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box6 > .pin-text {
    display: block;
  }

  #pin-8 {
    top: 75%;
    left: 78%;
  }

  .box7 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box7 > .pin-text {
    display: block;
  }

  #pin-9 {
    top: 30%;
    left: 35%;
  }

  .box8 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box8 > .pin-text {
    display: block;
  }

  #pin-10 {
    top: 75%;
    left: 40%;
  }

  .box9 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box9 > .pin-text {
    display: block;
  }

  #pin-11 {
    top: 5%;
    left: 5%;
  }

  .box10 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box10 > .pin-text {
    display: block;
  }

  #pin-12 {
    top: 5%;
    left: 65%;
  }

  .box11 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box11 > .pin-text {
    display: block;
  }

  #pin-13 {
    top: 45%;
    left: 12%;
  }

  .box12 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box12 > .pin-text {
    display: block;
  }

  .pin-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 75%;
    white-space: nowrap;
    display: none;
  }

  .pin-text h3 {
    color: white;
    text-shadow: 1px 1px 1px #000;
  }
}

@media (min-width: 901px) {
  .map {
    margin: 10px;
    position: relative;
    display: inline-block;
  }

  .map img {
    max-width: 100%;
    display: block;
    border-radius: 5%;
  }

  .box0 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  #pin-1 {
    top: 29%;
    left: 10%;
  }

  .box0:hover > .pin-text {
    display: block;
  }

  #pin-2 {
    top: 49%;
    left: 37%;
  }

  .box1 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box1:hover > .pin-text {
    display: block;
  }

  #pin-3 {
    top: 30%;
    left: 61%;
  }

  .box2 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box2:hover > .pin-text {
    display: block;
    color: white !important;
  }

  #pin-4 {
    top: 5%;
    left: 40%;
  }

  .box3 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box3:hover > .pin-text {
    display: block;
  }

  #pin-5 {
    top: 20%;
    left: 55%;
  }

  .box4 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box4:hover > .pin-text {
    display: block;
  }

  #pin-6 {
    top: 47%;
    left: 73%;
  }

  .box5 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box5:hover > .pin-text {
    display: block;
  }

  #pin-7 {
    top: 68%;
    left: 10%;
  }

  .box6 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box6:hover > .pin-text {
    display: block;
  }

  #pin-8 {
    top: 75%;
    left: 78%;
  }

  .box7 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box7:hover > .pin-text {
    display: block;
  }

  #pin-9 {
    top: 30%;
    left: 35%;
  }

  .box8 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box8:hover > .pin-text {
    display: block;
  }

  #pin-10 {
    top: 75%;
    left: 40%;
  }

  .box9 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box9:hover > .pin-text {
    display: block;
  }

  #pin-11 {
    top: 5%;
    left: 5%;
  }

  .box10 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box10:hover > .pin-text {
    display: block;
  }

  #pin-12 {
    top: 5%;
    left: 65%;
  }

  .box11 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box11:hover > .pin-text {
    display: block;
  }

  #pin-13 {
    top: 45%;
    left: 12%;
  }

  .box12 {
    width: 12%;
    height: 12%;
    background-image: url("../public/images/marker.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .box12:hover > .pin-text {
    display: block;
  }

  .pin-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 75%;
    white-space: nowrap;
    display: none;
  }

  .pin-text h3 {
    color: white;
    text-shadow: 1px 1px 1px #000;
  }
}

.bxl {
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  color: white !important;
}

.centered {
  position: relative;
  transform: translateY(-200%);
  left: 20%;
}

.nonzoomeff {
  transition: width 1s, height 1s;
}

.zoomeff {
  width: 16%;
  height: 16%;
}

.eventid {
  background-color: #ffefcd;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black !important;
}

#containe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#navBar {
  width: 100vw;
  height: 70px;
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1))!important;
  transition: 0.2s;
  display: flex;
}

.floatingNav {
  width: calc(100vh - 100px); 
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}

.contacthead:after{
  background-color: #f0af2d;
  bottom: -10px;
  height: 2px;
  width: 40px;
  position: relative;
  display: block;
}
